body.index {
    width:100%;
    height: 100vh;
    background-color: #fff0f3;
}
.header {
    background: #fff0f3;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid #333;
    border-top: 2px solid #333;
    padding:20px 50px;
    color: #ff8fa3;
}
.text-container {
    width: 100%;              /* Adjust width as needed */
    height: 40px;
    border-bottom: 2px solid #333;
    overflow: hidden;
    position: relative;
    background: #ff8fa3;
  }
.moving-text {
    position: absolute;
    white-space: nowrap;       /* Prevent text from wrapping */
    animation: moveRight 12s linear infinite;
    color: #fff0f3;
    font-style: italic;
    text-align: center;
  }
  @keyframes moveRight {
    0% {
      left: -20%; /* Start completely off-screen to the left */
    }
    100% {
      left: 105%;  /* Move completely off-screen to the right */
    }
}
.hope_you_smile {
    width: 100%;
    font-weight: bold;
    padding-top: 5vh;
    text-align: center;
    font-size: 28px;
    color: #ff8fa3;
}
.start-button {
    display: block;
    width: 400px;
    padding: 15px 30px;
    text-align: center;
    font-weight: bold;
    margin: 150px auto;
    font-size: 35px;
    color: #fff0f3;
    background-color: #ff8fa3;
    border: none;
    border-radius: 5px;
    cursor: default;
}
a:hover {
color: #000000;
}
a {
    color: #fff0f3;
    text-decoration: none; /* Removes underline */
    cursor: pointer; 
}


:root{
    --bgcol:#37474F;
    --mcol0:#29B6F6;
    --mcol1:#2196F3;
    --mcol2:#1976D2;
    --txtcol0:#90A4AE;
    --txtcol1:#607D8B;
    --whitecol:#ECEFF1;
    --darkcol:#263238;
}

.puzzle_header{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #ff8fa3;
    padding: 20px 30px;
    margin: 0;
}
body.puzzle{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:5vh;
    background-color:#fff0f3;
}

#puzzle_container{
    position: relative;
    width: 50vh;
    height:50vh;
    background-color:#ff8fa3;
    border:1px solid #a4133c;
}

.puzzle_block{
    position:absolute;
    left:0;
    top:0;
    width:33.4%;
    height:33.4%;
    cursor: pointer;
    user-select:none;
    transition:left 0.3s,top 0.3s;
}
.overlay{
  opacity:0;
  transition:opacity 1.5s ease;
  text-align:center;
  margin-top:20px;
}

.overlay.show{
  opacity:1;
}

.hidden{
  display:none;
}
.final_tile{
    position:absolute;
    width:33.4%;
    height:33.4%;
    opacity:0;
    pointer-events:none;
    transition:opacity 1s ease;
}
#yesBtn{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top:20px;
    padding:10px 20px;
    font-size:18px;
    background-color:#ff8fa3;
    color:#fff0f3;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
#yesBtn:hover{
    margin-top:20px;
    padding:12px 30px;
    background-color:#800f2f;
    color: #fff0f3;
}
